.typeContainer {
  display: flex;
  align-items: center;
}
.btnSet {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.rulePlusBtn1 {
  border-radius: 0.3rem;
  border: 0;
  margin-left: 2%;
  height: 36px;
  width: 15%;
}

.rulePlusBtn2 {
  border-radius: 0.3rem;
  border: 0;
  margin: 1%;
  margin-top: 5%;
  height: 35px;
  width: 30%;
}

.commitBtn {
  border-radius: 0.3rem;
  border: 0;
  margin: 1%;
  height: 40px;
  width: 20%;
}

.commitPlusInput {
  border-radius: 0.3rem;
}

.forMargin {
  margin-bottom: 2%;
}

.toRight {
  display: flex;
  justify-content: right;
}
