.routes {
  margin-top: 2vh;
  font-size: 2vh;
}
.routes:hover {
  background-color: rgb(255, 143, 143, 0.8);
  border-radius: 10px;
  cursor: pointer;
}

.folder {
  width: 1.3vw;
  margin-left: 0.5vw;
  margin-right: 1vw;
}
