.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 256px);
  min-height: calc(100vh - 80px);
  padding: 1.6rem;
  border-left: 1.5px solid #d9d9d9;
}
